{
  "root": true,
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "extends": [
    "airbnb-typescript",
    "prettier",
    "@react-native-community",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "plugins": [
    "prettier",
    "@typescript-eslint",
    "jest",
    "import",
    "react",
    "react-hooks"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "fragment": "Fragment",
      "version": "detect"
    },
    "globals": {
      "TextEncoder": true,
      "TextDecoder": true,
      "Blob": true,
      "ReadableStream": true,
      "Buffer": true
    },
    "import/ignore": [
      "node_modules/react-native/index\\.js$"
    ]
  },
  "rules": {
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "newline-after-var": [
      "error",
      "always"
    ],
    "newline-before-return": [
      "error"
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": [
          "block",
          "block-like",
          "cjs-export",
          "class",
          "export",
          "import"
        ],
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      },
      {
        "blankLine": "any",
        "prev": [
          "export",
          "import"
        ],
        "next": [
          "export",
          "import"
        ]
      }
    ]
  }
}